.total-unit{
    display: inline-block;
    justify-content: flex-end;
    margin-top: 30px;
    color: white;
    background-color: #ff0000;
    padding: 10px 15px;
    border-radius: 7px;
}
.table-margin {
    margin-top: 5px;
    width: 100%;
    /* height: auto; */
    /* max-height: 150vh; */
   height: 70vh;
  }
.table-container{
    width: 100%;
    height: 200vh;
}