.card-body{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-top: 5px;
}

.card-body p{
    font-size: 14px;
    margin-top: 30px;
}

.title{
    padding: 5px 15;
    display: flex;

    justify-content: space-between;
   
}
.btn-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
 
}

.btn-container button{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

.card{
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color:  hsla(300,2%,65%,.466);
}

.goals{
    display: flex;
    margin-top: 15px;
    font-size: 18px;
}
.Homegoal{
    font-size: 18px;
    margin-right: 5px;
}
.Awaygoal{
    font-size: 18px;
    margin-left: 5px;
}
.away-team{
    margin-top: 20px;
}
.home-team{
    margin-top: 20px;
}