.card-body{
 padding-bottom: 10px;
}
.text-area{
    width: 100%;
    background-color: rgba(102, 99, 99, 0.559);
}
.DraftEditor-editorContainer{
    height: 300px !important;
}
.list-style{
    font-size: 18px;
}

.list-style ul li{
    margin-top: 10px;
    list-style: inside;
}

.list-style ol li{
margin-top: 10px;
}
/* .public-DraftStyleDefault-ltr{
height: 300px;
} */