.container{
    display: flex;
    margin-top: 20px;
}
.team-container{
    display: flex;
}

.container label, 
.team-container label
{
    width: 150px;
 
}
.team-container label{
    margin-top: 20px;
}
.team-container p{
    margin-top: 20px;
}
label{
    font-size: 14px;
}
 p{
    font-size: 14px;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}