.container{
    display: flex;
    margin-top: 20px;
}
.team-container{
    display: flex;
}
.team-con{
    display: flex;
    margin-top: 20px;
}
.team-con label{
    padding-top: 5px;
    width: 200px;
}
.container label, 
.team-container label
{
    width: 200px;
 
}
.team-container label{
    margin-top: 20px;
}
.team-container p{
    margin-top: 20px;
}
label{
    font-size: 14px;
}
 p{
    font-size: 14px;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.form-control{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}