.card-body{
    padding: 20px;
}

.form{
    display: flex;
    align-items: center;
}

.form p{
    width: 400px;
    font-size: 18px;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 30px;
}