.card-body {
    padding: 20px;
    display: flex;
    width: 100%;
    background-color: #eee;
  }
  .create-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
.background-wheat{
  background-color: #eee;
}