.container{
    display: flex;
    /* border: 1px solid var(--text-color); */
    transition: all 0.2s ease-in-out;
    padding: 10px;
    border-radius: 7px;
}
.form-container{
    width: 100%;
}
.func-desc{
    margin-top: 5px;
    padding: 0px 10px;
    font-size: 13px;
}
.func-icon{
    width: "110px"; display: "flex";justify-content: "center";align-items: "center";
    height: "58px";
    background-color: "blueviolet";
}
.func-title{
    font-size: 18px;
    color: var(--secondary-color); 
}