.container{
    display: grid;
    /* border: 1px solid var(--text-color); */
    transition: all 0.2s ease-in-out;
    padding: 5px;
}

.func-desc{
    margin-top: 10px;
    padding: 0px 10px;
}
.func-title{
    font-size: 14px;
    color: var(--secondary-color);
}