.card-body {
    padding: 20px;
    display: flex;
    width: 100%;
  }
  .create-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .table-margin{
    padding: 20px;
  }