.container {
    background-color: #FFF;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    padding-left: 250px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.sidebar-header {
    width: 250px;
    height: 70px;
    background-color: #15171c;
    box-shadow: 0 0 5px 0 rgb(43 43 43 / 40%), 0 11px 6px -7px rgb(43 43 43 / 40%);
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-header .logo {
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.header-noti-icons {
    display: flex;
    align-items: center;
}
.header-noti-icons li {
    padding: 0 15px;
}
.header-noti-icons li .header-icon{
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}
.header-noti-icons li .header-icon span {
    width: 17px;
    height: 17px;
    display: block;
    border-radius: 50%;
    background-color: tomato;
    color: #FFF;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    position: absolute;
    top: -10px;
    right: 0;
}
.sidebarNav {
    width: 250px;
    height: 100vh;
    background-color: #15171c;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    transition: 350ms;
    z-index: 9999;
    padding-top: 70px;
}
.sidebarWrap {
    width: 100%;
    overflow: hidden auto;
}
