.menuItem {
  display: flex;
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  background-color: #15171c;
}
.menuItem:hover {
  background-color: var(--main-color);
  border-left: 4px solid #d1cdd8;
  cursor: pointer;
}
.sidebarLabel,
.subbarLabel {
  margin-left: 16px;
  font-size: 15px;
}
.sub-list:link,
.sub-list:visited {
  background-color: #15171c;
  padding: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 12px;
  transition: 0.3s;
}
.sub-list:hover,
.sub-list:focus,
.sub-list.active {
  background-color: var(--main-color);
  cursor: pointer;
  border-left: 4px solid #d1cdd8;
}

/* .sub-list {
  background-color: #15171c; */
/* height: 60px; */
/* padding: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 12px;
  transition: 0.3s;
}
.sub-list:hover {
  background-color: var(--main-color);
  cursor: pointer;
  border-left: 4px solid #d1cdd8;
}
.active {
  background-color: var(--main-color);
} */
