.form-container,
.btn-container {
  margin-top: 20px;
}
.form-label {
  margin-bottom: 5px;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
}
.remark_description{
  width: 100%;
}
.remark_description:focus{
  outline: none !important;
  border:2px solid #3498db;
}