@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  user-select: none;
}
:root {
  --text-color: rgb(44, 44, 44);
  --bg-color: white;
  --main-color: #242526;
  --secondary-color: #ba1e23;
  /* --secondary-hover: #034e03; /
  / --background-color:  rgb(3, 54, 3); */
  --background-color: #121212;
  --live-header: #2b2a2a;
  --secondary-hover: rgb(77, 10, 10);
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
}
a {
  text-decoration: none;
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
ul,
li {
  list-style-type: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}