.user-image-hover-detail {
  position: relative;
  cursor: pointer;
}
.user-image-hover-detail::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.1);
  transform: scale(0);
  transition: transform 0.3s ease;
}
.user-image-hover-detail:hover::after {
  transform: scale(1);
}
.view-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  padding: 10px;
  font-size: 20px;
  border: none;
  color: #fff;
  background-color: #1976d2;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-image-hover-detail:hover .view-detail {
  opacity: 1;
  visibility: visible;
}
.panding-status {
  display: inline-block;
  padding: 5px 20px;
  background-color: #ffc107;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 14px;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
