.agent-user-image-group {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
  }
  .img-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .agent-user-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 0.5rem;
  }
  .agent-user-des h3 {
    margin-bottom: 3px;
    font-size: 18px;
    color: var(--text-color);
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }
  .agent-user-des span {
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  
  /* -------------------------- */
  .form-group-desc {
    display: flex;
    /* align-items: center; */
    color: rgb(65, 65, 65);
    margin-bottom: 15px;
  }
  
  .form-group-desc label {
    width: 200px;
    font-size: 15px;
  }
  .form-group-desc p {
    font-size: 15px;
   
  }
  .form-container {
    margin-top: 30px;
  }
  .grid-template{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }